.control{
	width: 99%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	background-color: #ffffff;
}

.activo{
	color: rgb(24, 7, 31);
	background-color: rgb(0, 255, 34);
}

form{
	width: 30%;
}

table{
	background: rgb(125, 125, 125);
	border: 1px;
	width: 100%;
}

td{
	width: 30%;
}

tr{
	width: 70%;
}

h1{
	text-align: center;
}